
html{
	font-size: calc(.5em + 1vw);
}

body{
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
}

.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
		width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;

}
.cb-slideshow:after {
    content: '';
    background: transparent url(../img/connectwork.png) repeat top left;

}

.cb-slideshow li span {
	width: 100%;
	height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: 100% 0.05em;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h3 {
		font-family: 'Montserrat', sans-serif;
    font-size: 200px;
    padding: 0;
    line-height: 200px;
}

.cb-slideshow li:nth-child(1) span {
    background-image: url(..img/foto1.JPG)
		animation-delay: 1s;
}
.cb-slideshow li:nth-child(2) span {
    background-image: url(../img/foto2.jpg);
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(../img/foto5.JPG);
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(../img/foto4.jpeg);
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url(../img/foto3.jpg);
    animation-delay: 24s;
}

.cb-slideshow li:nth-child(2) div {
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
    animation-delay: 24s;
}

@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}

@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) {
    .cb-slideshow li div h3 { font-size: 80px }
}


h1{
	font-size: 2.369rem;
	font-family: 'Abril Fatface', cursive;
	color: #990323;
}
h2{
	font-size: 1.777rem;
}
h3{
	font-size: 1.333rem;
	font-family: 'Abril Fatface';
}
h4{
	font-size: 0.75rem;
}
h5{
	font-size: 0.563rem;
}
h6{
	font-size: 0.422rem;
}


[href="#main"]{
	position: fixed;
	top: 0;
	right: 100% /*moves off screen*/
}

[href="#main"]:focus { /*cuidado al escribir subelementos y que no llevan espacio (focus) */
	right: auto;
}

a {
	text-decoration: none;
	text-shadow: 0.05em 0 0 #fff, -0.05em 0 0 #fff,
	0 0.05em 0 #fff, 0 -0.05em 0 #fff, 0.1em 0 0 #fff, -0.1em 0 0 #fff, 0 0.1em 0 #fff, 0 -0.1em 0 #fff;
	background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
	background-repeat: repeat-x,repeat-y; background-position: bottom 0.05em center; background-size: 100% 0.05em;

}

nav{
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: black;
color:#CF4D57;
z-index: 1;
}

nav ul{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	font-family: 'Abril Fatface', cursive;
}

.heroMain{
	position: fixed;
	top: 30vh;
	color: white;

}
